@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
  padding: 0;
  margin: 0;
}
.App {
  padding: 0;
  margin: 0;
  /* height: 100vh; */
  background-color: #fdfdfd;
  overflow: scroll;
  overflow-x: hidden;
  text-align: center;
}
.hero-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: #1d1d1d;
  background-image: url("assets/hero1.jpg");
}
.hero-container {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 4rem 8rem;
}
.c-header {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
}
.header-image {
  width: 150px;
}
.header-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 1rem;
}
.connect-wallet-button {
  color: #1d1d1d;
  background: rgba(255, 255, 255, 0.3);
}
.submit-gif-button {
  color: #1d1d1d;
  background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
  margin-left: 10px;
}
.c-content {
  display: block;
  margin: auto auto;
  width: 60vw;
}
.gif-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}
.gif-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.gif-item img {
  max-height: 250px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
.connected-container input[type="text"] {
  color: white;
  font-size: 16px;
  background: rgba(130, 130, 130, 0.3);
  border: none;
  height: 2.5rem;
  border-radius: 10px;
}
.c-artist input[type="number"] {
  border: none;
  border-radius: 10px;
  height: 2.5rem;
  width: 4%;
  background: rgba(130, 130, 130, 0.3);
  border: solid 2px #55f224;

}
.tip {
  color: #1d1d1d;
  background: rgb(68, 205, 206);
  background: linear-gradient(
    90deg,
    rgba(68, 205, 206, 1) 0%,
    rgba(77, 252, 104, 1) 100%
  );
}
.clear-button {
  color: #1d1d1d;
  font-weight: bold;
  background: rgb(206, 137, 68);
  background: linear-gradient(
    90deg,
    rgba(206, 137, 68, 1) 0%,
    rgba(252, 77, 77, 1) 100%
  );
}
.placeholder{
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vh;
}
